.c {
  font-family: "Julius Sans One", sans-serif;
  /* line-height: 17.46px; */
  /* font-size: 16px; */
}
.header {
  /* height: 10vh; */
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
}
.h {
  z-index: 999;
  margin-bottom: 0;
}
